body{
    -webkit-app-region: drag;
    -user-select: none;
    background-color: #272727;
    color: skyblue;
    font-family: "Consolas";
    font-size: 15px;
    margin: 0%;
    width: auto;
    height: 100vh;
    position: relative;
    font-family: "Consolas", "微軟正黑體";
}

#Menu{
    background-color: #202020;
    width: 100vw;
    height: 20px;
}

#title{
    position: absolute;
    margin: 5px;
    width: auto;
    top: -5px;
    left: 20px;
}

#close{
    -webkit-app-region: no-drag;
    background-color: skyblue;
    width: 10px;
    height: 10px;
    margin: 0px;
    border: 0px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    right: 10px;
    top: 5px;
}

#reload{
    -webkit-app-region: no-drag;
    border: 3px solid skyblue;
    width: 6px;
    height: 6px;
    margin: 0px;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    right: 25px;
    top: 5px;
    padding: 0px;
}

#DevTools{
    -webkit-app-region: no-drag;
    border-left: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
    width: 6px;
    height: 6px;
    margin: 0px;
    position: absolute;
    right: 43px;
    top: 4px;
    transform: rotate(-45deg);
}

#input_bar{
    -webkit-app-region: no-drag;
    &::-webkit-input-placeholder{
        color: #888;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }
    width: 80%;
    height: 30px;
    box-sizing: border-box;
    border: 3px solid skyblue;
    border-radius: 10px;
    background-color: #202020;
    color: skyblue;
    outline: none;
    padding: 0 10px;
    margin-top: 20px;
    margin-left: 10%;
}

#input_bar:focus {
    border-color: aqua;
}

#input_bar:focus::before{
    border-color: skyblue;
}

.enter{
    -webkit-app-region: no-drag;
    box-sizing: border-box;
    width: 20%;
    height: 30px;
    border: 3px solid skyblue;
    border-radius: 10px;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.enter_new{
    border: 5px solid skyblue;
    line-height: 20px;
    background-color: #454545;
}